In [4]:
# We take an integer n= 87053 = 263*331 and an elliptic curve E = EllipticCurve(IntegerModRing(n),[1,1]) and a point P = E([0,1,1]), we know is on the curve
# Here we take the curve in Z/nZ
n=87053
E = EllipticCurve(IntegerModRing(n),[1,1]);
P = E([0,1,1])
print(E, ",  P=",P)

Elliptic Curve defined by y^2 = x^3 + x + 1 over Ring of integers modulo 87053 ,  P= (0 : 1 : 1)

In [5]:
# We take B= e^( 1/sqrt(2) * Sqrt( log(n) log(log(n)) ) ) ~= 9, then M=LCM[1,2,3,4,5,6,7,8,9] = 223092870 = 2*3*5*7*11*13*17*19*23 = p1*p2*...*p9
# and if this B doesn't work make it bigger
# We will calculate M*P but in stages (in practice you want to do binary expansion and fast exponentiation but here the numbers are small so we do directly)
# [M]P = [p9][p8][p7][p6][p5][p4][p3][p2][p1] P
# Since the numbers are small (this won't be true for true factorization) We will take M= 50! instead, so we can easily write it in a loop here
Q = P
for i in range(1,100):
    try:
         Q = i*Q
         print(Q)
    except ZeroDivisionError as err:
         print("Failed when trying to compute the " + str(i) + "th multiple.")
         errStr = "Error: {0}".format(err)
         print( ' '.join(errStr.split(' ')[:7]) )
         break

(0 : 1 : 1)
(65290 : 54407 : 1)
(35949 : 46347 : 1)
(35466 : 40756 : 1)
(84420 : 64223 : 1)
(50985 : 14103 : 1)
(49030 : 76840 : 1)
(51647 : 21645 : 1)
(22842 : 80732 : 1)
(50858 : 68301 : 1)
(50570 : 30241 : 1)
(8490 : 65754 : 1)
Failed when trying to compute the 13th multiple.
Error: Inverse of 38661 does not exist

In [6]:
# Then we look at the gcd of the offending denominator
gcd(38661,n)

263

In [7]:
def f(k):
    Q=P
    for i in range(1,k):
        try:
             Q = i*Q
             print(factorial(i),"*P = ", Q)
        except ZeroDivisionError as err:
             print("Failed when trying to compute the " + str(i) + "th multiple, when getting (", i,"!) * P.")
             errStr = "Error: {0}".format(err)
             print( ' '.join(errStr.split(' ')[:7]) )
             break
        except AttributeError as err:
            print("other error: KeyError")
        except AttributeError as err:
            print("other error: AttributeError")

In [8]:
f(14)

1 *P =  (0 : 1 : 1)
2 *P =  (65290 : 54407 : 1)
6 *P =  (35949 : 46347 : 1)
24 *P =  (35466 : 40756 : 1)
120 *P =  (84420 : 64223 : 1)
720 *P =  (50985 : 14103 : 1)
5040 *P =  (49030 : 76840 : 1)
40320 *P =  (51647 : 21645 : 1)
362880 *P =  (22842 : 80732 : 1)
3628800 *P =  (50858 : 68301 : 1)
39916800 *P =  (50570 : 30241 : 1)
479001600 *P =  (8490 : 65754 : 1)
Failed when trying to compute the 13th multiple, when getting ( 13 !) * P.
Error: Inverse of 38661 does not exist

In [33]:
def m(k):
    Q=P
    if(k==1):
        print(i,"*P = ", Q)
    else:
        print(1,"*P = ", Q)
        for i in range(1,k):
            try:
                Q = Q + P
                print(i+1,"*P = ", Q)
            except ZeroDivisionError as err:
                print("Failed when trying to compute the " + str(i+1) + "th multiple.")
                errStr = "Error: {0}".format(err)
                print( ' '.join(errStr.split(' ')[:7]) )
                break
            except AttributeError as err:
                print("other error: KeyError")
            except AttributeError as err:
                print("other error: AttributeError")

In [34]:
m(13)

1 *P =  (0 : 1 : 1)
2 *P =  (65290 : 54407 : 1)
3 *P =  (72 : 611 : 1)
4 *P =  (70596 : 11265 : 1)
5 *P =  (7276 : 19219 : 1)
6 *P =  (35949 : 46347 : 1)
7 *P =  (29347 : 57211 : 1)
8 *P =  (83860 : 16668 : 1)
9 *P =  (35301 : 3425 : 1)
10 *P =  (72610 : 76071 : 1)
11 *P =  (16321 : 10751 : 1)
12 *P =  (11646 : 42610 : 1)
13 *P =  (1778 : 15515 : 1)

In [35]:
m(12)

1 *P =  (0 : 1 : 1)
2 *P =  (65290 : 54407 : 1)
3 *P =  (72 : 611 : 1)
4 *P =  (70596 : 11265 : 1)
5 *P =  (7276 : 19219 : 1)
6 *P =  (35949 : 46347 : 1)
7 *P =  (29347 : 57211 : 1)
8 *P =  (83860 : 16668 : 1)
9 *P =  (35301 : 3425 : 1)
10 *P =  (72610 : 76071 : 1)
11 *P =  (16321 : 10751 : 1)
12 *P =  (11646 : 42610 : 1)

In [36]:
m(2*3*5*7*11)

1 *P =  (0 : 1 : 1)
2 *P =  (65290 : 54407 : 1)
3 *P =  (72 : 611 : 1)
4 *P =  (70596 : 11265 : 1)
5 *P =  (7276 : 19219 : 1)
6 *P =  (35949 : 46347 : 1)
7 *P =  (29347 : 57211 : 1)
8 *P =  (83860 : 16668 : 1)
9 *P =  (35301 : 3425 : 1)
10 *P =  (72610 : 76071 : 1)
11 *P =  (16321 : 10751 : 1)
12 *P =  (11646 : 42610 : 1)
13 *P =  (1778 : 15515 : 1)
14 *P =  (61441 : 38502 : 1)
15 *P =  (32068 : 19151 : 1)
16 *P =  (59172 : 64486 : 1)
17 *P =  (35815 : 62149 : 1)
18 *P =  (5299 : 75436 : 1)
19 *P =  (35535 : 20164 : 1)
20 *P =  (47702 : 53731 : 1)
21 *P =  (15550 : 28903 : 1)
22 *P =  (1225 : 36910 : 1)
23 *P =  (53533 : 78305 : 1)
24 *P =  (35466 : 40756 : 1)
25 *P =  (36382 : 12270 : 1)
26 *P =  (37690 : 1052 : 1)
27 *P =  (60841 : 62159 : 1)
28 *P =  (52824 : 58921 : 1)
29 *P =  (44854 : 62137 : 1)
30 *P =  (72761 : 76706 : 1)
31 *P =  (84456 : 85765 : 1)
32 *P =  (99 : 70142 : 1)
33 *P =  (31064 : 35066 : 1)
34 *P =  (33440 : 66321 : 1)
35 *P =  (65008 : 42262 : 1)
36 *P =  (7624 : 50182 : 1)
37 *P =  (50741 : 82893 : 1)
38 *P =  (58285 : 35401 : 1)
39 *P =  (22292 : 59966 : 1)
40 *P =  (56093 : 56804 : 1)
41 *P =  (52089 : 40797 : 1)
42 *P =  (2652 : 61215 : 1)
43 *P =  (86849 : 78368 : 1)
44 *P =  (79389 : 2005 : 1)
45 *P =  (33292 : 21426 : 1)
46 *P =  (71717 : 52804 : 1)
47 *P =  (28316 : 67045 : 1)
48 *P =  (62706 : 46332 : 1)
49 *P =  (60036 : 45151 : 1)
50 *P =  (61082 : 45796 : 1)
51 *P =  (26826 : 20513 : 1)
Failed when trying to compute the 52th multiple.
Error: Inverse of 26826 does not exist

In [292]:
E

Elliptic Curve defined by y^2 = x^3 + x + 1 over Ring of integers modulo 87053

In [49]:
E_263=EllipticCurve(GF(263),[1,1]);
E_263

Elliptic Curve defined by y^2 = x^3 + x + 1 over Finite Field of size 263

In [38]:
m(51)

1 *P =  (0 : 1 : 1)
2 *P =  (65290 : 54407 : 1)
3 *P =  (72 : 611 : 1)
4 *P =  (70596 : 11265 : 1)
5 *P =  (7276 : 19219 : 1)
6 *P =  (35949 : 46347 : 1)
7 *P =  (29347 : 57211 : 1)
8 *P =  (83860 : 16668 : 1)
9 *P =  (35301 : 3425 : 1)
10 *P =  (72610 : 76071 : 1)
11 *P =  (16321 : 10751 : 1)
12 *P =  (11646 : 42610 : 1)
13 *P =  (1778 : 15515 : 1)
14 *P =  (61441 : 38502 : 1)
15 *P =  (32068 : 19151 : 1)
16 *P =  (59172 : 64486 : 1)
17 *P =  (35815 : 62149 : 1)
18 *P =  (5299 : 75436 : 1)
19 *P =  (35535 : 20164 : 1)
20 *P =  (47702 : 53731 : 1)
21 *P =  (15550 : 28903 : 1)
22 *P =  (1225 : 36910 : 1)
23 *P =  (53533 : 78305 : 1)
24 *P =  (35466 : 40756 : 1)
25 *P =  (36382 : 12270 : 1)
26 *P =  (37690 : 1052 : 1)
27 *P =  (60841 : 62159 : 1)
28 *P =  (52824 : 58921 : 1)
29 *P =  (44854 : 62137 : 1)
30 *P =  (72761 : 76706 : 1)
31 *P =  (84456 : 85765 : 1)
32 *P =  (99 : 70142 : 1)
33 *P =  (31064 : 35066 : 1)
34 *P =  (33440 : 66321 : 1)
35 *P =  (65008 : 42262 : 1)
36 *P =  (7624 : 50182 : 1)
37 *P =  (50741 : 82893 : 1)
38 *P =  (58285 : 35401 : 1)
39 *P =  (22292 : 59966 : 1)
40 *P =  (56093 : 56804 : 1)
41 *P =  (52089 : 40797 : 1)
42 *P =  (2652 : 61215 : 1)
43 *P =  (86849 : 78368 : 1)
44 *P =  (79389 : 2005 : 1)
45 *P =  (33292 : 21426 : 1)
46 *P =  (71717 : 52804 : 1)
47 *P =  (28316 : 67045 : 1)
48 *P =  (62706 : 46332 : 1)
49 *P =  (60036 : 45151 : 1)
50 *P =  (61082 : 45796 : 1)
51 *P =  (26826 : 20513 : 1)

In [58]:
E_331=EllipticCurve(GF(331),[1,1]);
P2=E_331([0,1,1])
E_331

Elliptic Curve defined by y^2 = x^3 + x + 1 over Finite Field of size 331

In [50]:
E_263.points()

[(0 : 1 : 0), (0 : 1 : 1), (0 : 262 : 1), (1 : 23 : 1), (1 : 240 : 1), (2 : 96 : 1), (2 : 167 : 1), (3 : 89 : 1), (3 : 174 : 1), (4 : 73 : 1), (4 : 190 : 1), (6 : 111 : 1), (6 : 152 : 1), (7 : 80 : 1), (7 : 183 : 1), (8 : 28 : 1), (8 : 235 : 1), (10 : 119 : 1), (10 : 144 : 1), (14 : 38 : 1), (14 : 225 : 1), (15 : 32 : 1), (15 : 231 : 1), (21 : 128 : 1), (21 : 135 : 1), (22 : 64 : 1), (22 : 199 : 1), (23 : 57 : 1), (23 : 206 : 1), (24 : 35 : 1), (24 : 228 : 1), (27 : 81 : 1), (27 : 182 : 1), (29 : 111 : 1), (29 : 152 : 1), (30 : 87 : 1), (30 : 176 : 1), (31 : 34 : 1), (31 : 229 : 1), (33 : 27 : 1), (33 : 236 : 1), (38 : 101 : 1), (38 : 162 : 1), (39 : 45 : 1), (39 : 218 : 1), (40 : 55 : 1), (40 : 208 : 1), (44 : 65 : 1), (44 : 198 : 1), (45 : 35 : 1), (45 : 228 : 1), (47 : 81 : 1), (47 : 182 : 1), (48 : 60 : 1), (48 : 203 : 1), (49 : 123 : 1), (49 : 140 : 1), (51 : 64 : 1), (51 : 199 : 1), (57 : 25 : 1), (57 : 238 : 1), (58 : 5 : 1), (58 : 258 : 1), (59 : 6 : 1), (59 : 257 : 1), (60 : 123 : 1), (60 : 140 : 1), (61 : 52 : 1), (61 : 211 : 1), (66 : 34 : 1), (66 : 229 : 1), (67 : 119 : 1), (67 : 144 : 1), (68 : 74 : 1), (68 : 189 : 1), (69 : 108 : 1), (69 : 155 : 1), (72 : 85 : 1), (72 : 178 : 1), (74 : 4 : 1), (74 : 259 : 1), (75 : 25 : 1), (75 : 238 : 1), (77 : 116 : 1), (77 : 147 : 1), (78 : 53 : 1), (78 : 210 : 1), (81 : 0 : 1), (82 : 27 : 1), (82 : 236 : 1), (83 : 114 : 1), (83 : 149 : 1), (87 : 61 : 1), (87 : 202 : 1), (88 : 91 : 1), (88 : 172 : 1), (99 : 79 : 1), (99 : 184 : 1), (103 : 131 : 1), (103 : 132 : 1), (108 : 83 : 1), (108 : 180 : 1), (110 : 130 : 1), (110 : 133 : 1), (111 : 77 : 1), (111 : 186 : 1), (112 : 44 : 1), (112 : 219 : 1), (115 : 59 : 1), (115 : 204 : 1), (116 : 125 : 1), (116 : 138 : 1), (117 : 18 : 1), (117 : 245 : 1), (118 : 106 : 1), (118 : 157 : 1), (123 : 23 : 1), (123 : 240 : 1), (127 : 2 : 1), (127 : 261 : 1), (131 : 25 : 1), (131 : 238 : 1), (132 : 70 : 1), (132 : 193 : 1), (134 : 29 : 1), (134 : 234 : 1), (137 : 107 : 1), (137 : 156 : 1), (138 : 29 : 1), (138 : 234 : 1), (139 : 23 : 1), (139 : 240 : 1), (141 : 109 : 1), (141 : 154 : 1), (142 : 26 : 1), (142 : 237 : 1), (143 : 37 : 1), (143 : 226 : 1), (144 : 69 : 1), (144 : 194 : 1), (145 : 115 : 1), (145 : 148 : 1), (146 : 97 : 1), (146 : 166 : 1), (147 : 94 : 1), (147 : 169 : 1), (148 : 27 : 1), (148 : 236 : 1), (150 : 129 : 1), (150 : 134 : 1), (152 : 124 : 1), (152 : 139 : 1), (154 : 123 : 1), (154 : 140 : 1), (157 : 100 : 1), (157 : 163 : 1), (159 : 102 : 1), (159 : 161 : 1), (162 : 104 : 1), (162 : 159 : 1), (166 : 34 : 1), (166 : 229 : 1), (169 : 107 : 1), (169 : 156 : 1), (170 : 130 : 1), (170 : 133 : 1), (173 : 90 : 1), (173 : 173 : 1), (174 : 109 : 1), (174 : 154 : 1), (175 : 20 : 1), (175 : 243 : 1), (180 : 122 : 1), (180 : 141 : 1), (181 : 59 : 1), (181 : 204 : 1), (182 : 110 : 1), (182 : 153 : 1), (184 : 43 : 1), (184 : 220 : 1), (185 : 127 : 1), (185 : 136 : 1), (186 : 119 : 1), (186 : 144 : 1), (188 : 70 : 1), (188 : 193 : 1), (189 : 81 : 1), (189 : 182 : 1), (190 : 64 : 1), (190 : 199 : 1), (192 : 15 : 1), (192 : 248 : 1), (194 : 35 : 1), (194 : 228 : 1), (195 : 7 : 1), (195 : 256 : 1), (196 : 116 : 1), (196 : 147 : 1), (199 : 2 : 1), (199 : 261 : 1), (200 : 2 : 1), (200 : 261 : 1), (206 : 70 : 1), (206 : 193 : 1), (207 : 117 : 1), (207 : 146 : 1), (208 : 24 : 1), (208 : 239 : 1), (210 : 79 : 1), (210 : 184 : 1), (211 : 109 : 1), (211 : 154 : 1), (216 : 4 : 1), (216 : 259 : 1), (217 : 79 : 1), (217 : 184 : 1), (218 : 108 : 1), (218 : 155 : 1), (219 : 118 : 1), (219 : 145 : 1), (220 : 107 : 1), (220 : 156 : 1), (221 : 33 : 1), (221 : 230 : 1), (222 : 58 : 1), (222 : 205 : 1), (223 : 50 : 1), (223 : 213 : 1), (224 : 9 : 1), (224 : 254 : 1), (226 : 99 : 1), (226 : 164 : 1), (228 : 111 : 1), (228 : 152 : 1), (230 : 59 : 1), (230 : 204 : 1), (236 : 4 : 1), (236 : 259 : 1), (239 : 108 : 1), (239 : 155 : 1), (240 : 31 : 1), (240 : 232 : 1), (242 : 72 : 1), (242 : 191 : 1), (245 : 48 : 1), (245 : 215 : 1), (246 : 130 : 1), (246 : 133 : 1), (249 : 98 : 1), (249 : 165 : 1), (251 : 75 : 1), (251 : 188 : 1), (253 : 116 : 1), (253 : 147 : 1), (254 : 29 : 1), (254 : 234 : 1), (259 : 14 : 1), (259 : 249 : 1), (260 : 51 : 1), (260 : 212 : 1)]

In [51]:
E_263.abelian_group()

Additive abelian group isomorphic to Z/260 embedded in Abelian group of points on Elliptic Curve defined by y^2 = x^3 + x + 1 over Finite Field of size 263

In [301]:
factor(260)

2^2 * 5 * 13

In [302]:
E_331.abelian_group()

Additive abelian group isomorphic to Z/342 embedded in Abelian group of points on Elliptic Curve defined by y^2 = x^3 + x + 1 over Finite Field of size 331

In [303]:
factor(342)

2 * 3^2 * 19

In [52]:
P1=E_263([0,1,1])
156*P1

(0 : 1 : 0)

In [53]:
13*P1

(200 : 261 : 1)

In [306]:
12*P1

(74 : 4 : 1)

In [55]:
4*13*P1

(0 : 1 : 0)

In [308]:
2*13*P1

(81 : 0 : 1)

In [39]:
m(4*13)

1 *P =  (0 : 1 : 1)
2 *P =  (65290 : 54407 : 1)
3 *P =  (72 : 611 : 1)
4 *P =  (70596 : 11265 : 1)
5 *P =  (7276 : 19219 : 1)
6 *P =  (35949 : 46347 : 1)
7 *P =  (29347 : 57211 : 1)
8 *P =  (83860 : 16668 : 1)
9 *P =  (35301 : 3425 : 1)
10 *P =  (72610 : 76071 : 1)
11 *P =  (16321 : 10751 : 1)
12 *P =  (11646 : 42610 : 1)
13 *P =  (1778 : 15515 : 1)
14 *P =  (61441 : 38502 : 1)
15 *P =  (32068 : 19151 : 1)
16 *P =  (59172 : 64486 : 1)
17 *P =  (35815 : 62149 : 1)
18 *P =  (5299 : 75436 : 1)
19 *P =  (35535 : 20164 : 1)
20 *P =  (47702 : 53731 : 1)
21 *P =  (15550 : 28903 : 1)
22 *P =  (1225 : 36910 : 1)
23 *P =  (53533 : 78305 : 1)
24 *P =  (35466 : 40756 : 1)
25 *P =  (36382 : 12270 : 1)
26 *P =  (37690 : 1052 : 1)
27 *P =  (60841 : 62159 : 1)
28 *P =  (52824 : 58921 : 1)
29 *P =  (44854 : 62137 : 1)
30 *P =  (72761 : 76706 : 1)
31 *P =  (84456 : 85765 : 1)
32 *P =  (99 : 70142 : 1)
33 *P =  (31064 : 35066 : 1)
34 *P =  (33440 : 66321 : 1)
35 *P =  (65008 : 42262 : 1)
36 *P =  (7624 : 50182 : 1)
37 *P =  (50741 : 82893 : 1)
38 *P =  (58285 : 35401 : 1)
39 *P =  (22292 : 59966 : 1)
40 *P =  (56093 : 56804 : 1)
41 *P =  (52089 : 40797 : 1)
42 *P =  (2652 : 61215 : 1)
43 *P =  (86849 : 78368 : 1)
44 *P =  (79389 : 2005 : 1)
45 *P =  (33292 : 21426 : 1)
46 *P =  (71717 : 52804 : 1)
47 *P =  (28316 : 67045 : 1)
48 *P =  (62706 : 46332 : 1)
49 *P =  (60036 : 45151 : 1)
50 *P =  (61082 : 45796 : 1)
51 *P =  (26826 : 20513 : 1)
Failed when trying to compute the 52th multiple.
Error: Inverse of 26826 does not exist

In [40]:
factor(26826)

2 * 3 * 17 * 263

In [56]:
P1.order()

52

In [59]:
P2.order()

171

In [60]:
52*P2

(59 : 259 : 1)

In [61]:
factor(171)

3^2 * 19

In [62]:
m(9*19)

1 *P =  (0 : 1 : 1)
2 *P =  (65290 : 54407 : 1)
3 *P =  (72 : 611 : 1)
4 *P =  (70596 : 11265 : 1)
5 *P =  (7276 : 19219 : 1)
6 *P =  (35949 : 46347 : 1)
7 *P =  (29347 : 57211 : 1)
8 *P =  (83860 : 16668 : 1)
9 *P =  (35301 : 3425 : 1)
10 *P =  (72610 : 76071 : 1)
11 *P =  (16321 : 10751 : 1)
12 *P =  (11646 : 42610 : 1)
13 *P =  (1778 : 15515 : 1)
14 *P =  (61441 : 38502 : 1)
15 *P =  (32068 : 19151 : 1)
16 *P =  (59172 : 64486 : 1)
17 *P =  (35815 : 62149 : 1)
18 *P =  (5299 : 75436 : 1)
19 *P =  (35535 : 20164 : 1)
20 *P =  (47702 : 53731 : 1)
21 *P =  (15550 : 28903 : 1)
22 *P =  (1225 : 36910 : 1)
23 *P =  (53533 : 78305 : 1)
24 *P =  (35466 : 40756 : 1)
25 *P =  (36382 : 12270 : 1)
26 *P =  (37690 : 1052 : 1)
27 *P =  (60841 : 62159 : 1)
28 *P =  (52824 : 58921 : 1)
29 *P =  (44854 : 62137 : 1)
30 *P =  (72761 : 76706 : 1)
31 *P =  (84456 : 85765 : 1)
32 *P =  (99 : 70142 : 1)
33 *P =  (31064 : 35066 : 1)
34 *P =  (33440 : 66321 : 1)
35 *P =  (65008 : 42262 : 1)
36 *P =  (7624 : 50182 : 1)
37 *P =  (50741 : 82893 : 1)
38 *P =  (58285 : 35401 : 1)
39 *P =  (22292 : 59966 : 1)
40 *P =  (56093 : 56804 : 1)
41 *P =  (52089 : 40797 : 1)
42 *P =  (2652 : 61215 : 1)
43 *P =  (86849 : 78368 : 1)
44 *P =  (79389 : 2005 : 1)
45 *P =  (33292 : 21426 : 1)
46 *P =  (71717 : 52804 : 1)
47 *P =  (28316 : 67045 : 1)
48 *P =  (62706 : 46332 : 1)
49 *P =  (60036 : 45151 : 1)
50 *P =  (61082 : 45796 : 1)
51 *P =  (26826 : 20513 : 1)
Failed when trying to compute the 52th multiple.
Error: Inverse of 26826 does not exist